.trailer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    width: 100%;
    font-size: 22px;
  }
  .search-box{
    height: 1ovh;
    margin: 20px;
  }
  .search-box>input,button{
    box-sizing: border-box;
    height: 25px;
    font-size: 20px;
  }