.dropdown-btn {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  margin: 0px 10px;
  color: #49ba8e !important;
  border: 1px solid #49ba8e !important;
  background-color: transparent !important;
  font-size: 12px !important;
  width: 120px;
  min-width: 120px;
  height: 32px !important;
}
.dropdown-icon {
  vertical-align: super !important;
}

.dropdown-menu {
  z-index: 3000;
  background: #323232 !important;
  color: white;
  cursor: pointer;
  display: none;
  margin: 0px 10px;
  font-size: 12px;
  min-width: 120px;
  width: 120px;
  max-height: 70vh;
  overflow-y: scroll;
}

.dropdown-item {
  display: inline-flex;
  opacity: 0.75;
  color: white !important;
  font-size: 12px;
  height: 30px;
}

.dropdown-item:hover {
  background: #000 !important;
  color: #49ba8e !important;
}

.dropdown:hover > .dropdown-menu {
  display: block !important;
}
.dropdown:hover > .dropdown-btn {
  color: #fff !important;
}

.dropdown .ellipsis {
  margin: auto;
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 80px;
}

/* Tablets */

@media only screen and (max-width: 800px) {
  .dropdown {
      width: 30%;
      min-width: 30%;
  }
  .dropdown-menu {
      width: 100%;
      min-width: 100%;
  }
  .dropdown-btn {
      width: 100%;
      min-width: 100%;
  }
  .dropdown .ellipsis {
      width: 80%;
  }
}

/* Mobile */

@media only screen and (max-width: 450px) {
  .dropdown-menu {
      width: 120px;
      min-width: 120px;
  }
  .dropdown-btn {
      padding: 0px 5px;
      font-size: 10px;
      margin: 0px 8px;
  }
  .dropdown-label {
      width: fit-content;
      min-width: 60px;
  }
}

/* Desktop */

@media only screen and (min-width: 1100px) {
  .dropdown-menu {
      width: 150px;
      min-width: 150px;
  }
  .dropdown-btn {
      padding: 0px 5px;
      font-size: 14px;
      margin: 0px 8px;
      width: 150px;
      min-width: 150px;
      height: 35px;
  }
  .dropdown-label {
      width: fit-content;
      min-width: 100px;
  }

  .dropdown-item {
      font-size: 14px;
      height: 35px;
  }

  /* .dropdown-item-checkbox {
      margin-right: 8px;
      margin-top: 5px;
      cursor: pointer;
      height: 14px;
      width: 16px;
      border: 1px solid var(--theme-green);
      font-size: 12px;
  } */
}


/* @media only screen and (max-width: 800px) {
    .dropdown{
      min-width: 30%;
    }
  } */
