
.loading-gif {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.loading-gif img {
    width: 60px;
}
.main{
    background: #1c1c1c;
    font-family: sans-serif;
    /* height: 100vh; */
}
